<!doctype html>
<html>
<head>
    <title>
        登录
    </title>

    <style type="text/css">
        body {
            background: #32407b;
        }

        input:hover {
            outline: none;
            border: 1px #46b3e6 solid;
        }

        input:focus {
            outline: none;
            border: 1px #46b3e6 solid;
        }

        input:active {
            outline: none;
            border: 1px #46b3e6 solid;
        }

        .content {
            width: 400px;
            margin: 0 auto;
            background: #fff;
            border-radius: 2px;
            height: 320px;
        }

        .login_title {
            display: inline-block;
            height: 60px;
            text-align: center;
            line-height: 60px;
            width: 100%;
        }

        .input {
            height: 44px;
            line-height: 44px;
            text-align: center;
            margin: 20px auto;
        }

        .account {
            border-radius: 3px;
            width: 90%;
            height: 100%;
            padding: 20px 14px 10px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            line-height: 16px;
            font-size: 14px;
            color: #263241;
            z-index: 1;
            border: 1px solid #dfe2e7;
            -webkit-transition: border .3s;
            -o-transition: border .3s;
            transition: border .3s;
        }

        .password {
            border-radius: 3px;
            width: 90%;
            height: 100%;
            padding: 20px 14px 10px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            line-height: 16px;
            font-size: 14px;
            color: #263241;
            z-index: 1;
            border: 1px solid #dfe2e7;
            -webkit-transition: border .3s;
            -o-transition: border .3s;
            transition: border .3s;
        }

        .login_btn {
            height: 38px;
            margin: 20px auto;
            width: 79%;
            line-height: 38px;
            text-align: center;
            background: #4d80e4;
            border-radius: 4px;
            color: #fff;
            font-size: 13px;
        }
        .login_btn:hover{
            cursor: pointer;
        }
    </style>
</head>

<body>
<div class="content">
    <span class="login_title">天堂币管理系统</span>
    <div class="input">
        <input class="account" type="text" placeholder="账号">
    </div>
    <div class="input">
        <input class="password" type="password" placeholder="密码">
    </div>
    <div>
        <a href="#">忘记密码?</a>
    </div>
    <div class="login_btn">
        登录
    </div>
</div>
</body>
</html>